---
import Banner from "./Banner.astro";
---

<Banner>
  <p>
    Project Karpacz is now Ferron. Note that we are still working on Ferron's
    website. <a href="/blog/introducing-ferron">Read the blog post</a>
  </p>
</Banner>
