---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Root from "./Root.astro";
import Banners from "../components/Banners.astro";
---

<Root {...Astro.props}>
  <Banners />
  <Header />
  <div class="grow">
    <slot />
  </div>
  <Footer />
</Root>
